@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import "dashboard/theme/theme.css";



/*$sm: 639px;*/
/*$md: 767px;*/
/*$lg: 1023px;*/
/*$xl: 1279px;*/
/*$xxl: 1720px;*/

